h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem; 
    font-weight: 300;
    color: #333;
    text-align: left; 
    margin: 1.5rem auto;
    letter-spacing: 0.5px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-left:0.5rem;
  }
  
  .delayed-badge {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-top:0.5rem;
    opacity: 0;
    transform: translateY(-10px);
    animation: slideDown 0.5s ease forwards 0.5s;
    min-width: 3rem;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  @keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  